.property-img img {
  width: 300px;
  height: 300px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}
.property-img {
  position: relative;
}
.property-img span {
  position: absolute;
  bottom:3%;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background: var(--secondary-color);
  color: white;
  font-size: 1.4ch;
  font-weight: 500;
  padding: 0.3rem 0.3rem;
  border-radius: 3px 0 0 0;
}
.property-card {
  display: flex;
  justify-content: flex-start;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  margin-top: 1rem;
}
.card-top{
  padding-left: 1rem;
  position: relative;
  line-height: normal;
}
 
.card-top span .icon {
 
  color: var(--primary-color);
}
.card-top p{
  margin-top: 3rem;
  color: var(--text-color);
  width: 100%;
  height: 200px;
}
.property-rating {
  font-size: 0.9rem;
  color: var(--text-color);
}
.property-location {
  position: absolute;
  z-index: 10;
  bottom: 5%;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 0.9rem;

}
.property-title {
  font-size: 2.3ch;
  margin-top: 1rem;
  padding: 0.1rem;
  width: 450px;
  text-decoration: none;
}
.property-title span{
  margin-left: 1rem;
 
}
.property-title a {
  text-decoration: none;
  color: var(--heading-color);
  transition: 0.3s;
}
.property-title a:hover {
  color: var(--secondary-color);
}
.card-bottom h5 {
  position: absolute;
  right: -10%;
  bottom: 20%;
  color: var(--heading-color);
  font-size: 3ch;
  font-weight: 700;
}
.card-bottom h5 span {
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 1rem;
}
.reserve-btn {
  position: absolute;
  z-index: 10;
  margin-top: 10rem;
  bottom: 5%;
  right: -10%;
  background-color: var(--primary-color) !important;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  
}
.reserve-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
@media screen and (max-width: 600px) {
  .property-card {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-top {
    overflow: hidden;
  }
  .reserve-btn {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    bottom: 5%;
    margin-right: 3rem;
    background-color: var(--primary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    
  }
  .property-title {
    font-size: 1.8ch;
    margin-top: 1rem;
    margin-left: -3rem;
    text-align: center;
    padding: 0.1rem;
  
  }
  .property-title span{
    margin-left: .1rem;
   
  }
  .property-location {
    margin-left: .1rem;
  }
  .card-top span .icon {
    margin-left: .5rem;
    color: var(--primary-color);
  }
  .card-top p{
    margin-top: 1rem;
    text-align: start;
    margin-left: 1rem;
    height: 100px;
  }
  .card-bottom h5 {
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 2.6ch;
    font-weight: 700;
  }
  .card-bottom h5 span {
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .property-card {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-top {
    overflow: hidden;
  }
  .reserve-btn {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    bottom: 5%;
    margin-right: 3rem;
    background-color: var(--primary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    
  }
  .property-title {
    font-size: 1.8ch;
    margin-top: 1rem;
    margin-left: -3rem;
    text-align: center;
    padding: 0.1rem;
  
  }
  .property-title span{
    margin-left: .1rem;
   
  }
  .property-location {
    margin-left: .1rem;
  }
  .card-top span .icon {
    margin-left: .5rem;
    color: var(--primary-color);
  }
  .card-top p{
    margin-top: 1rem;
    text-align: start;
    margin-left: 1rem;
    height: 100px;
  }
  .card-bottom h5 {
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 2.6ch;
    font-weight: 700;
  }
  .card-bottom h5 span {
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .property-card {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-top {
    overflow: hidden;
  }
  .reserve-btn {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    bottom: 5%;
    margin-right: 3rem;
    background-color: var(--primary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    
  }
  .property-title {
    font-size: 1.8ch;
    margin-top: 1rem;
    margin-left: -3rem;
    text-align: center;
    padding: 0.1rem;
  
  }
  .property-title span{
    margin-left: .1rem;
   
  }
  .property-location {
    margin-left: .1rem;
  }
  .card-top span .icon {
    margin-left: .5rem;
    color: var(--primary-color);
  }
  .card-top p{
    margin-top: 1rem;
    text-align: start;
    margin-left: 1rem;
    height: 100px;
  }
  .card-bottom h5 {
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 2.6ch;
    font-weight: 700;
  }
  .card-bottom h5 span {
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .property-card {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-top {
    overflow: hidden;
  }
  .reserve-btn {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    bottom: 5%;
    margin-right: 3rem;
    background-color: var(--primary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    
  }
  .property-title {
    font-size: 1.8ch;
    margin-top: 1rem;
    margin-left: -3rem;
    text-align: center;
    padding: 0.1rem;
  
  }
  .property-title span{
    margin-left: .1rem;
   
  }
  .property-location {
    margin-left: .1rem;
  }
  .card-top span .icon {
    margin-left: .5rem;
    color: var(--primary-color);
  }
  .card-top p{
    margin-top: 1rem;
    text-align: start;
    margin-left: 1rem;
    height: 100px;
  }
  .card-bottom h5 {
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 2.6ch;
    font-weight: 700;
  }
  .card-bottom h5 span {
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .property-card {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-top {
    overflow: hidden;
  }
  .reserve-btn {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    bottom: 5%;
    margin-right: 3rem;
    background-color: var(--primary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    
  }
  .property-title {
    font-size: 1.8ch;
    margin-top: 1rem;
    margin-left: -3rem;
    text-align: center;
    padding: 0.1rem;
  
  }
  .property-title span{
    margin-left: .1rem;
   
  }
  .property-location {
    margin-left: .1rem;
  }
  .card-top span .icon {
    margin-left: .5rem;
    color: var(--primary-color);
  }
  .card-top p{
    margin-top: 1rem;
    text-align: start;
    margin-left: 1rem;
    height: 100px;
  }
  .card-bottom h5 {
    position: absolute;
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
    font-size: 2.6ch;
    font-weight: 700;
  }
  .card-bottom h5 span {
    color: var(--secondary-color);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-top: 1rem;
  }
}
