.service__item{
    padding: 1rem;
    border-bottom: 1px solid  var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    border-radius: .5rem;
}
.service__img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    padding: 0.5em;
    margin-bottom: 0.5em;
    line-height: 50px;
}
.service__img img{
    width: 100%;
}
.service__item h5{
    font-size: 1.1rem;
    font-weight: 500;
}
.service__item p{
    font-size: .9rem;
    color: var(--text-color);
}