.header {
  position: sticky;
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.logo img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}

.menu {
  margin-bottom: 0%;
}

.nav__item a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1.1rem;
}
.nav__item a:hover {
  color: inherit;
}
.nav__item a.active__link {
  color: var(--primary-color);
}
.mobile__menu {
  font-size: 1.3rem;
  color: var(--heading-color);
  display: none;
}
.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 8px -3px #ddd;
  z-index: 999;
}
.nav-right-links li{
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 1rem;
  text-decoration: none !important;
}
.nav-right-links a{
  color: var(--heading-color);
  text-decoration: none !important;
  font-size: 1rem;
}
.topbar-search{
  border: none;
  border-bottom: 1px solid var(--text-color);
  height: 40px;
}
.topbar-srch-btn{
  border: none;
  height: 40px;
  font-size: 1.3rem;
  color: var(--text-color);
  background-color: transparent;
}
