.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;

}

.hero__content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.hero__content h1 .highlight {
    color: var(--secondary-color);
}

.hero__content p {
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 2rem;
}

.hero-img-box img,
.hero-img-box video {
    display: flex;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    object-fit: cover;
}
.hero__content{
    padding-top: 2rem;
}
.services__subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(80, 22, 28);
}
.services__title{
     font-size: 2.5rem;
}
.featured-title{
    font-size: 2.3rem;
    font-weight: 500;
}